.conatinerPrincipal h3{
    font-weight: 600;
}

.btnSolicitarTroca{
    color: var(--azul);
    text-decoration: var(--azul) underline;
    font-weight: 500;
}

.btnTrocar{
    background-color:var(--azul);
    color: var(--branco);
    border: none;
    border-radius: 30px;
    padding: 0.4rem 4rem;
    font-weight: 400;
    font-size: 1.1rem;
}

.btnTrocar:hover{
    background-color: var(--azul);
    color:var(--branco);
}

.modal-content  {
    background-color: var(--cinza);
    border: none;
    border-radius: 20px;
    
}
.modal-body label{
    font-weight: 500;
}