* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

/* cores */
:root {
    --azul: #00466c;
    --cinza: #d9d9d9;
    --branco: #ffffff;
    --preto: #000000;
}

.navbar{
    background-color: var(--azul)!important;
    
}

.navbar .nav-link, .navbar .navbar-brand{
    color: var(--branco)!important;
    font-weight: 400;
}

.navbar-toggler{
    border: none;
    background-color: var(--branco);
}

button:focus{
    outline: none!important;
    box-shadow: 0 0 0 3px rgba(0, 70, 108, 0.25);

}
