/* login.css */
.container-login{
    background-color: var(--azul);
    opacity: 0.95;
    color: var(--branco);
    padding: 1.5rem;
    border-radius: 20px;
    height: 100vh;
    max-width: 100vh;
}

.logoEscalar img{
    width: 20rem;
    height: auto;
}

.formulario-login input, .formulario-login select{
    background-color: var(--branco);
    border: none;
    border-radius: 30px;
    padding: 0.7rem;
    width: 100%;
    
}

.botaoEntrar{
    background-color: var(--branco);
    color: var(--azul);
    border: none;
    border-radius: 30px;
    padding: 0.7rem;
    font-weight: 700;
    font-size: 1.1rem;
}

.botaoEntrar:hover{
    background-color: #e6e6e6;
    color: var(--azul);
}

.botaoEntrar .iconeEntrar{
    font-size: 1.2rem;
    margin-right: 0.5rem;
}