.cadastrarcolaborador-container1 {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.cadastrarcolaborador-cadastrarcolaborador {
  width: 100%;
  height: 1024px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  justify-content: flex-end;
  background-color: rgba(255, 255, 255, 1);
}
 
.cadastrarcolaborador-rectangle2 {
  top: 0px;
  left: 0px;
  width: 349px;
  height: 1024px;
  position: absolute;
}
 
.cadastrarcolaborador-vector1 {
  top: 311.90380859375px;
  left: 301.6220703125px;
  width: 19px;
  height: 10px;
  position: absolute;
}
 
.cadastrarcolaborador-rectangle35 {
  top: 176px;
  left: 0px;
  width: 349px;
  height: 63px;
  opacity: 0.40;
  position: absolute;
}
 
.cadastrarcolaborador-rectangle36 {
  top: 176px;
  left: 0px;
  width: 8px;
  height: 63px;
  position: absolute;
}
 
.cadastrarcolaborador-escalarremovebgpreview1 {
  top: 39px;
  left: 42px;
  width: 264px;
  height: 48px;
  position: absolute;
}
 
.cadastrarcolaborador-rectangle37 {
  top: 0px;
  left: 349px;
  width: 1090px;
  height: 125px;
  position: absolute;
}
 
.cadastrarcolaborador-bell-fill {
  top: 45px;
  left: 1249px;
  width: 37px;
  height: 34px;
  position: absolute;
}
 
.cadastrarcolaborador-person-circle {
  top: 36px;
  left: 1338px;
  width: 52px;
  height: 53px;
  position: absolute;
}
 
.cadastrarcolaborador-rectangle1 {
  top: 239px;
  left: 397px;
  width: 993px;
  height: 743px;
  position: absolute;
  border-radius: 20px;
}
 
.cadastrarcolaborador-rectangle70 {
  top: 268px;
  left: 444px;
  width: 908px;
  height: 46px;
  position: absolute;
  border-color: rgba(0, 71, 108, 1);
  border-style: solid;
  border-width: 0px;
  border-radius: var(--dl-layout-radius-cardradius);
}
 
.cadastrarcolaborador-text10 {
  top: 277px;
  left: 466px;
  color: rgba(0, 0, 0, 1);
  width: 198px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Thin;
  text-align: left;
  font-family: Inter;
  font-weight: 100;
  line-height: normal;
  font-stretch: normal;
  text-decoration: underline none;
}
 
.cadastrarcolaborador-rectangle58 {
  top: 339px;
  left: 444px;
  width: 902px;
  height: 173px;
  position: absolute;
  border-radius: 20px;
}
 
.cadastrarcolaborador-rectangle43 {
  top: 446px;
  left: 1132px;
  width: 182px;
  height: 47px;
  position: absolute;
  border-radius: 10px;
}
 
.cadastrarcolaborador-text11 {
  top: 456px;
  left: 1148px;
  color: rgba(255, 255, 255, 1);
  width: 151px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Medium;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.cadastrarcolaborador-text12 {
  top: 348px;
  left: 600px;
  color: rgba(0, 0, 0, 1);
  width: 389px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.cadastrarcolaborador-text13 {
  top: 389px;
  left: 602px;
  color: rgba(0, 0, 0, 1);
  width: 240px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Light;
  text-align: left;
  font-family: Inter;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.cadastrarcolaborador-text14 {
  top: 425px;
  left: 602px;
  color: rgba(0, 0, 0, 1);
  width: 83px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Light;
  text-align: left;
  font-family: Inter;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.cadastrarcolaborador-text15 {
  top: 425px;
  left: 739px;
  color: rgba(0, 0, 0, 1);
  width: 83px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Light;
  text-align: left;
  font-family: Inter;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.cadastrarcolaborador-text16 {
  top: 358px;
  left: 1189px;
  color: rgba(0, 0, 0, 1);
  width: 125px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Light;
  text-align: left;
  font-family: Inter;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.cadastrarcolaborador-text17 {
  top: 460px;
  left: 600px;
  color: rgba(0, 0, 0, 1);
  width: 100px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Light;
  text-align: left;
  font-family: Inter;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.cadastrarcolaborador-rectangle6 {
  top: 352px;
  left: 462px;
  width: 117px;
  height: 145px;
  position: absolute;
  border-radius: 10px;
}
 
.cadastrarcolaborador-vector2 {
  top: 400px;
  left: 493px;
  width: 56px;
  height: 49px;
  position: absolute;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
}
 
.cadastrarcolaborador-rectangle71 {
  top: 535px;
  left: 444px;
  width: 902px;
  height: 173px;
  position: absolute;
  border-radius: 20px;
}
 
.cadastrarcolaborador-rectangle72 {
  top: 642px;
  left: 1132px;
  width: 182px;
  height: 47px;
  position: absolute;
  border-radius: 10px;
}
 
.cadastrarcolaborador-text18 {
  top: 652px;
  left: 1148px;
  color: rgba(255, 255, 255, 1);
  width: 151px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Medium;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.cadastrarcolaborador-text19 {
  top: 563px;
  left: 600px;
  color: rgba(0, 0, 0, 1);
  width: 389px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.cadastrarcolaborador-text20 {
  top: 585px;
  left: 602px;
  color: rgba(0, 0, 0, 1);
  width: 240px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Light;
  text-align: left;
  font-family: Inter;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.cadastrarcolaborador-text21 {
  top: 621px;
  left: 602px;
  color: rgba(0, 0, 0, 1);
  width: 83px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Light;
  text-align: left;
  font-family: Inter;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.cadastrarcolaborador-text22 {
  top: 621px;
  left: 739px;
  color: rgba(0, 0, 0, 1);
  width: 83px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Light;
  text-align: left;
  font-family: Inter;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.cadastrarcolaborador-text23 {
  top: 554px;
  left: 1189px;
  color: rgba(0, 0, 0, 1);
  width: 125px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Light;
  text-align: left;
  font-family: Inter;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.cadastrarcolaborador-text24 {
  top: 656px;
  left: 600px;
  color: rgba(0, 0, 0, 1);
  width: 100px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Light;
  text-align: left;
  font-family: Inter;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.cadastrarcolaborador-rectangle73 {
  top: 548px;
  left: 462px;
  width: 117px;
  height: 145px;
  position: absolute;
  border-radius: 10px;
}
 
.cadastrarcolaborador-vector3 {
  top: 596px;
  left: 493px;
  width: 56px;
  height: 49px;
  position: absolute;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
}
 
.cadastrarcolaborador-rectangle74 {
  top: 731px;
  left: 444px;
  width: 902px;
  height: 173px;
  position: absolute;
  border-radius: 20px;
}
 
.cadastrarcolaborador-rectangle75 {
  top: 838px;
  left: 1132px;
  width: 182px;
  height: 47px;
  position: absolute;
  border-radius: 10px;
}
 
.cadastrarcolaborador-text25 {
  top: 848px;
  left: 1148px;
  color: rgba(255, 255, 255, 1);
  width: 151px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Medium;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.cadastrarcolaborador-text26 {
  top: 740px;
  left: 600px;
  color: rgba(0, 0, 0, 1);
  width: 389px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.cadastrarcolaborador-text27 {
  top: 781px;
  left: 602px;
  color: rgba(0, 0, 0, 1);
  width: 240px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Light;
  text-align: left;
  font-family: Inter;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.cadastrarcolaborador-text28 {
  top: 827px;
  left: 602px;
  color: rgba(0, 0, 0, 1);
  width: 83px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Light;
  text-align: left;
  font-family: Inter;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.cadastrarcolaborador-text29 {
  top: 817px;
  left: 739px;
  color: rgba(0, 0, 0, 1);
  width: 83px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Light;
  text-align: left;
  font-family: Inter;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.cadastrarcolaborador-text30 {
  top: 750px;
  left: 1189px;
  color: rgba(0, 0, 0, 1);
  width: 125px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Light;
  text-align: left;
  font-family: Inter;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.cadastrarcolaborador-text31 {
  top: 852px;
  left: 600px;
  color: rgba(0, 0, 0, 1);
  width: 100px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Light;
  text-align: left;
  font-family: Inter;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.cadastrarcolaborador-rectangle76 {
  top: 744px;
  left: 462px;
  width: 117px;
  height: 145px;
  position: absolute;
  border-radius: 10px;
}
 
.cadastrarcolaborador-vector4 {
  top: 792px;
  left: 493px;
  width: 56px;
  height: 49px;
  position: absolute;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
}
 
.cadastrarcolaborador-text32 {
  top: 159px;
  left: 397px;
  color: rgba(0, 0, 0, 1);
  width: 401px;
  height: auto;
  position: absolute;
  font-size: 32px;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.cadastrarcolaborador-text33 {
  top: 195px;
  left: 29px;
  color: rgba(255, 255, 255, 1);
  width: 295px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.cadastrarcolaborador-text34 {
  top: 246px;
  left: 31px;
  color: rgba(255, 255, 255, 1);
  width: 264px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.cadastrarcolaborador-text35 {
  top: 295px;
  left: 34px;
  color: rgba(255, 255, 255, 1);
  width: 264px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.cadastrarcolaborador-text36 {
  top: 167px;
  color: rgba(0, 71, 108, 1);
  right: 32px;
  width: 342px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: underline;
}
 
.cadastrarcolaborador-vector5 {
  top: 179px;
  left: 1040px;
  width: 12px;
  height: 12px;
  position: absolute;
}
 
.cadastrarcolaborador-vector6 {
  top: 274px;
  right: 109px;
  width: 27px;
  height: 25px;
  position: absolute;
}
 
.cadastrarcolaborador-link {
  display: contents;
}
 
.cadastrarcolaborador-container2 {
  right: 50px;
  border: 1px solid #ffffff5c;
  bottom: 30px;
  display: flex;
  z-index: 22;
  position: fixed;
  box-shadow: 5px 5px 10px 0px rgba(31, 31, 31, 0.4);
  min-height: auto;
  align-items: center;
  padding-top: 8px;
  padding-left: 12px;
  border-radius: 8px;
  padding-right: 12px;
  padding-bottom: 8px;
  backdrop-filter: blur(6px);
  background-color: rgba(41, 41, 41, 0.41);
}
 
.cadastrarcolaborador-icon1 {
  width: 24px;
  margin-right: 4px;
}
 
.cadastrarcolaborador-text37 {
  color: white;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
