/* cores */
:root {
    --azul: #00466c;
    --cinza: #d9d9d9;
    --branco: #ffffff;
    --preto: #000000;
    --sombra: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.container-cinza {
    background-color: var(--cinza);
    border-radius: 8px;
    padding: 20px;
    box-shadow: var(--sombra);
}

.pedidoSubstituir {
    background-color: var(--branco);
    border-radius: 8px;
    padding: 10px;
    box-shadow: var(--sombra);
    margin-bottom: 20px;
}

.fotoPerfil {
    border-radius: 10px;
    background: var(--preto);
    width: 4.69rem;
    height: 6.25rem;
}

h4 {
    color: var(--azul);
    font-weight: 600;
}



